body {
	font-family: sans-serif;
	max-width: 600px;
	margin: 40px auto;
	padding: 0 20px;
}

h1 {
	font-family: "Dosis", sans-serif;
}

.status {
	font-family: "Dosis", sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}

.connected {
	color: green;
}

.disconnected {
	color: red;
}

.controls {
	display: flex;
	gap: 10px;
}

input {
	flex: 1;
	padding: 8px;
}

button {
	font-family: "Dosis", sans-serif;
	letter-spacing: 0.2rem;
	padding: 8px 16px;
	border: 1px solid rgba(10, 10, 10, .55);
	border-radius: 5px;
	background: linear-gradient(135deg, #f2cdcd, #d6686c);
	cursor: pointer;
	place-items: center;
}

button:hover {
	background: linear-gradient(75deg, #f2cdcd, #d6686c);
}

button:active {
	transform: translateY(1px) scale(0.95) rotate(0deg);
	transition: transform 0.1s ease;
}

#log {
	height: 300px;
	border: 1px solid #ccc;
	padding: 10px;
	overflow-y: scroll;
	margin-bottom: 10px;
	background: #f9f9f9;
}

.message {
	margin: 0 0 19px;
}

.msg-author {
	font-weight: bold;
}

.msg-content {
	display: inline-block;
	background: #a9aeba;
	border: 1px solid rgba(255, 255, 255, .055);
	padding: 10px 13px;
	border-radius: 0 15px 15px 15px;
	font-size: 13px;
	line-height: 1.5;
	max-width: min(620px, 100%);
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}
