:root {
  --font-heading: 'Dosis', sans-serif;
  --font-body: 'Inria Serif', serif;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-body);
	overflow: hidden;
	color: #08090b;
}

.app-mount {
	width: 100dvw;
	height: 100dvh;
	display: grid;
	grid-template-columns: 82px minmax(240px, 290px) minmax(0, 1fr);
	grid-template-rows: 100%;
}

.rail {
	display: flex;
	flex-direction: column;
	align-items: centers;
	padding: 18px 0;
	border-right: 1px solid #ccc;
}

.sidebar {
	min-width: 0;
	border-right: 1px solid #ccc;
	display: flex;
	flex-direction: column;
}

.sidebar-title {
	padding: 25px 23px 18px;
	border-bottom: 1px solid #ccc;
	font-family: var(--font-heading);
	margin: 8px 0 3px;
	font-size: 23px;
	font-weight: 600;
}

.sidebar-label {
	padding: 10px 18px 7px;
	color: #777;
	font-size: 9px;
	letter-spacing: 0.16em;
	text-transform: uppercase;
}

.channels {
	flex-grow: 1;
}

.profile {
	padding: 25px 23px 18px;
	margin: 8px 0 3px;
	border-top: 1px solid #ccc;
	height: 50px;
}

.channel {
	width: 100%;
	border: 0;
	border-left-width: 0px;
	border-left-style: none;
	border-left-color: currentcolor;
	border-left: 2px solid transparent;
	background: transparent;
	padding: 11px 15px;
	text-align: left;
	cursor: pointer;
	color: inherit;
	transition: 150ms ease;

	font-size: 12px;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: auto;
	margin: 0;
}
.channel:hover {
	background: rgba(40, 40, 40, 0.025);
}

.current-channel {
	background: rgba(248, 216, 174, 0.25);
	color: #555;
}

.current-channel:hover {
	background: rgba(248, 216, 174, 0.1);
}


.channel .level {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-right: 5px;
}

.channel .open {
	background-color: #8dbf83;
}

.channel .direct {
	background-color: #e8a84e;
}

h1 {
	font-family: var(--font-heading);
}

.status {
	font-family: var(--font-heading);
	font-weight: bold;
	margin-bottom: 10px;
}

.connected {
	color: green;
}

.disconnected {
	color: red;
}

.controls {
	display: flex;
	gap: 10px;
}

main {
	display: grid;
	grid-template-rows: 120px minmax(0, 1fr) auto;
}

.chat-header {
	border-bottom: 1px solid #ccc;
	padding: 0 24px;
}

.messages {
	padding: 10px;
	overflow-y: scroll;
	scroll-behavior: smooth;
	margin-bottom: 10px;
	background: #f9f9f9;
}

.message.authored {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.message.system {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.controls {
	padding: 0 clamp(20px, 5vw, 72px) 24px;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: end;
}

textarea {
	min-height: 68px;
	max-height: 170px;
	border: 1px solid #ccc;
	background: transparent;
	padding: 14px;
	resize: none;
}

button {
	font-family: var(--font-heading);
	letter-spacing: 0.2rem;
	padding: 8px 16px;
	border: 1px solid rgba(10, 10, 10, .55);
	border-radius: 5px;
	background: linear-gradient(135deg, #f2cdcd, #d6686c);
	cursor: pointer;
	place-items: center;
	height: 39px;
	margin: 0 9px 9px 0;
}

button:hover {
	background: linear-gradient(75deg, #f2cdcd, #d6686c);
}

button:active {
	transform: translateY(1px) scale(0.95) rotate(0deg);
	transition: transform 0.1s ease;
}

.message {
	margin: 0 0 19px;
}

.msg-author {
	font-family: var(--font-heading);
	font-weight: bold;
}

.msg-content {
	display: inline-block;
	background: #a9aeba;
	border: 1px solid rgba(255, 255, 255, .055);
	padding: 10px 13px;
	border-radius: 0 15px 15px 15px;
	font-size: 13px;
	line-height: 1.5;
	max-width: min(620px, 100%);
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}

.message.authored .msg-content {
	background: #a9dfba;
	border-radius: 15px 0 15px 15px;
	font-size: 13px;
	line-height: 1.5;
	max-width: min(620px, 100%);
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}

.msg-data {
	display: flex;
	flex-direction: row;
	align-items: end;
	gap: 5px;
}

.msg-date {
	color: #aaa;
	font-size: 11px;
}

.message.system .msg-data {
	display: none;
}

.message.system .msg-content {
	background: transparent;
	border: none;
	color: #aaa;
}

button.remove {
	background: none;
	border: none;
	margin: 0;
	padding: 0 4px;
	color: #aaa;
}
